<?xml version='1.0' encoding='utf-8'?>
<widget id="org.devgirl.framework7.mediaexplorer" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DiabetesBehandling©</name>
    <description>Få råd om behandling av diabetes type 2</description>
    <author email="hello@unitedworks.no" href="https://unitedworks.no">
        United Works
    </author>
    <content src="index.html" />
    <access origin="*" />
     <allow-navigation href="*" />
<allow-intent href="*" />
<access origin="*" />
    <allow-intent href="https://www.diabetesbehandling.no/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="¨5000" />
    <preference name="SplashMaintainAspectRatio"  value="true" />
    <preference name="FadeSplashScreen"           value="true"/>

    <!-- Uncomment to use the latest, fastest iOS WebView (see this post http://devgirl.org/2016/01/11/a-faster-hybrid-app-for-the-new-year/) -->
    <plugin name="cordova-plugin-wkwebview-engine" spec="~1.0.1"/>
    <plugin name="cordova-plugin-whitelist" version="1"/>


    <platform name="android">
        <icon src="icon.png" />
    <splash src="Splash.png" />
    </platform>

    <platform name="ios">
       <icon src="icon.png" />
    <splash src="Splash.png" />
    </platform>

</widget>
